html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title I'm Tony Mtz
        link(rel="shortcut icon" type="image/png" href="favicon.png")
        link(rel="shortcut icon" type="196x196" href="favicon.png")
        link(rel="apple-touch-icon" href="favicon.png")
        link(rel="stylesheet" href="main.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet")
    body
        header
            .item
                h1.display.lg Tony Mtz
        .item
            p Hello!. I'm a div float technician. I'm currently a Front-end engineer at #[a(target="_blank" href="https://twitter.com/wearehims") @wearehims] and #[a(target="_blank" href="https://twitter.com/wearehers") @wearehers]. I also create video-games and more stuff...
        .container
            .item.black
                h2 Software Developer
                p I worked on companies like #[a(target="_blank" href="https://twitter.com/toptal") @toptal], #[a(target="_blank" href="https://twitter.com/joinhomebase") @joinhomebase], #[a(target="_blank" href="https://twitter.com/nearsoft") @nearsoft] and #[a(target="_blank" href="https://twitter.com/switchfly") @switchfly].
                p This is my #[a(target="_blank" href="https://www.linkedin.com/in/mtztony") LinkedIn].
            .item.coffee
                h2 Coffee Brewer
                p I love coffee. I'm co-owner of #[b El Culto al Perro Café]. A coffee-joint located in Hermosillo, Mx.
                p #[a(target="_blank" href="https://cultoperrocafe.com") Visit site].
            .item.pink
                h2 Video games
                p I create multi-platform interactive experiences as #[a(target="_blank" href="https://gatomocho.com") GatoMocho Games].
            .item.blue
                h2 Articles
                p A few blog posts I've written. Mostly tech stuff.
                p #[a(target="_blank" href="https://gatomocho.com/blog") View all].
            .item.green
                h2 Podcasts
                p I run two podcast about video-games: El Hongo Verde & Histeria de Videojuegos.
                p #[a(target="_blank" href="https://batosjugando.com/podcast") Check more].
            .item.red
                h2 Music
                p I'm a music fan, I like to play some instruments. I publish music as #[a(target="_blank" href="https://soundcloud.com/gatonejo") Gatonejo].
            .item.yellow
                h2 Streaming
                p I stream gameplay of old games as well didactic content as #[a(target="_blank" href="https://gatomocho.com") PozoleTV].
            .item.dark-purple
                h2 Illustrations
                p Some random drawings. #[a(target="_blank" href="https://www.instagram.com/pintatesta") @pintatesta] and #[a(target="_blank" href="https://https://twitter.com/gatomonero") @gatomonero] are my accounts.
            .item.gray
                h2 Other creations
                p Apps or services I maintain.
                ul.list
                    li
                        a(target="_blank" href="https://tomatoro.com") Tomatoro
                    li
                        a(target="_blank" href="https://dolarenbancos.com") Dólar en Bancos
                    li
                        a(target="_blank" href="https://gatolinero.com") Gatolinero
                    //li
                    //    a(target="_blank" href="#") Songbox
                    //li
                    //    a(target="_blank" href="#") Dawshare
                    //li
                    //    a(target="_blank" href="#") Picturix
            .item
                h3 More links
                ul.list
                    li
                        a(target="_blank" href="https://github.com/tonymtz") Github
                    li
                        a(target="_blank" href="https://twitter.com/_tonymtz") Twitter
                    li
                        a(target="_blank" href="http://discord.batosjugando.com") Discord
                    li
                        a(target="_blank" href="https://batosjugando.com") BatosJugando
                    li
                        a(target="_blank" href="https://juegathon.com") Juegathon
        .item
            p If you want to contact me, drop me a PM on Twitter 😄
        footer
            .item
                p 2014-2020 &copy; TonyMtz.
