@import 'style/colors';
@import 'style/list';
@import 'style/grid';

html, body {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background: $background-color;
  color: $text-color;
  margin: 0;

  a {
    color: $dark-blue;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    &:hover, &:active, &:focus {
      color: $white;
      background-color: $dark-blue;
    }
  }
}

.display {
  font-family: 'Lobster', cursive;

  &.lg {
    font-size: 4em;
  }
}

header {
  display: grid;
}
