$black: #333333;
$white: #ffffff;
$pink: #c3aed6;
$dark-purple: #8675a9;
$blue: #709fb0;
$dark-blue: #07177c;
$green: #a0c1b8;
$brown: #8f6b5b;
$red: #c37566;
$gray: #eeeeee;
$yellow: #ffefa0;

$text-color: $black;
$link-color: $black;
$background-color: $white;

.black {
  background: $black;
  color: $white;
}

.coffee {
  background: $brown;
  color: $white;
}

.pink {
  background: $pink;
  color: $white;
}

.blue {
  background: $blue;
  color: $white;
}

.green {
  background: $green;
  color: $white;
}

.dark-purple {
  background: $dark-purple;
  color: $white;
}

.red {
  background: $red;
  color: $white;
}

.gray {
  background: $gray;
  color: $black;
}

.yellow {
  background: $yellow;
  color: black;
}
